body {
  font-family: "Open Sans", sans-serif;
  background-color: white;
}

.titulo {
  color: rgb(12,239,225);
  font-family: "Open Sans", sans-serif;
  font-size: 40px;
  margin-top: 20px;
  margin-left: 40%;
}

.form {
  position:relative;
  top: 40px;
  left: 35%;
  height: 300px;
  width: 450px;
  border-radius: 10px;
}

.inputWrapper {
margin: 20px;
}

.input:not([type='file']) {
  width: 400px;
  height: 25px;
  outline: 0;
  border: 0 none;
  border-bottom: 1px solid rgb(161,159,159);
  color: rgb(161,159,159);
}

.input:focus:not([type='file']) {
  border-bottom: 1px solid rgb(12,239,225);
  color: rgb(12,239,225);

}

.input:focus::-webkit-input-placeholder {
    color: rgb(12,239,225);
}

.input:hover::-webkit-input-placeholder {
  position: relative;
  bottom: 10px;
  font-size: 10px;
}

.inputError {
  width: 400px;
  height: 25px;
  outline: 0;
  border: 0 none;
  border-bottom: 1px solid red;
}

.nameErrorMessage {
  color: red;
}
.cpfErrorMessage {
  color: red;
}
.phoneErrorMessage {
  color: red;
}
.addressErrorMessage {
  color: red;
}
.imageErrorMessage {
  color: red;
}

.btnSave {
  background-color: rgb(12,239,225);
  color: white;
  text-align: center;
  text-decoration: inherit;
  border-radius: 10px;
}
#btnSave{
  color: white;
}

.btnSave:hover {
  background-color: rgba(12,239,225,0.3);
}

.btnSave:focus {
  color: rgb(12,239,225);
  background-color: rgba(12,239,225,0.3);
}

#uplImage {
  display: none;
}

.labelFile {
  font: 13.3333px Arial;
  cursor: pointer;
  padding: 5px;
  color: white;
  background-color: rgb(12,239,225);
  border-bottom: 1px solid rgb(161,159,159);
  border-radius: 10px
}

.labelFile:focus {
  color: rgb(12,239,225);
  background-color: rgba(12,239,225,0.3);
}
.labelFile:hover {
  background-color: rgba(12,239,225,0.3);
}
